.small_img{
cursor:zoom-in;
}

.big_img
{
-webkit-transition: width 0.5s, height 0.5s;
-moz-transition: width 0.5s, height 0.5s;
-o-transition: width 0.5s, height 0.5s;
transition: all linear width 0.8s, all linear height 0.8s;
width:0px;
position:absolute;
z-index:10; 
border:none;
cursor:pointer;
/*overflow:hidden;*/
}


.small_img:hover + .big_img
{
-webkit-transition: width 0.5s, height 0.5s;
-moz-transition: width 0.5s, height 0.5s;
-o-transition: width 0.5s, height 0.5s;
transition: width 0.5s, height 0.5s;
    width:400px;
    height:500px;
    cursor:zoom-in; 
}


.big_img:hover
{
    cursor:zoom-in; 
     width:400px;
    height:500px;
}











